@layer components {
    .mobile-container {
        @apply absolute top-[40%] left-0 mx-auto z-20;
    }

    .mobile-logo svg,
    .mobile-logo img {
        @apply h-[42px] mt-3 ml-6;
    }

    .mobile-logo svg path {
        @apply fill-white;
    }

    /* Hamburger Menu */
    .mobile-menu {
        @apply hidden absolute top-0 right-0 z-30 md:block;
    }

    .header-fixed .mobile-menu {
        @apply fixed;
    }

    .mobile-menu .button_container {
        @apply absolute top-5 right-4 h-9 w-9 cursor-pointer z-[100] transition-all duration-250 ease-out hover:opacity-70;
    }

    .mobile-menu .button_container.active {
        @apply fixed;
    }

    .mobile-menu .button_container span {
        @apply bg-blue-600 border-none h-1 w-full absolute top-0 left-0 transition-all duration-350 ease-out cursor-pointer dark:bg-blue-400;
    }

    .mobile-menu .button_container span:nth-of-type(2) {
        @apply top-3;
    }

    .mobile-menu .button_container span:nth-of-type(3) {
        @apply top-6;
    }

    /* Active State Animation */
    .mobile-menu .button_container.active .top {
        @apply transform translate-y-3 rotate-45 bg-blue-800 dark:bg-blue-200;
    }

    .mobile-menu .button_container.active .middle {
        @apply opacity-0 bg-blue-800 dark:bg-blue-200;
    }

    .mobile-menu .button_container.active .bottom {
        @apply transform -translate-y-3 -rotate-45 bg-blue-800 dark:bg-blue-200;
    }

    /* Overlay */
    .overlay {
        @apply fixed bg-black top-0 left-0 w-full h-0 opacity-0 invisible transition-all duration-350;
    }

    .overlay.open {
        @apply opacity-95 visible h-full;
    }

    .overlay nav {
        @apply relative mx-auto text-center;
    }

    .overlay-menu {
        @apply h-[calc(100%-90px)] overflow-y-auto;
    }

    .overlay-menu>.tree {
        @apply text-left;
    }

    /* Tree Menu */
    .treemenu.treemenu-root {
        @apply m-4;
    }

    .treemenu li {
        @apply list-none m-0 mb-[1px] py-1 leading-5 bg-gray-800/10 dark:bg-white/10;
    }

    .treemenu li a {
        @apply block ml-5 text-base hover:text-blue-400 focus:text-blue-400 active:text-blue-400 no-underline;
    }

    .treemenu ul {
        @apply ml-4 m-0;
    }

    .treemenu .toggler {
        @apply cursor-pointer align-top text-lg leading-4 pl-1 float-left;
    }

    .treemenu .toggler::before {
        @apply inline-block mr-1;
    }

    .treemenu li.tree-empty>.toggler {
        @apply opacity-30 cursor-default;
    }

    .treemenu li.tree-empty>.toggler::before {
        content: "\2022";
        /* Bullet */
    }

    .treemenu li.tree-closed>.toggler::before {
        content: "+";
    }

    .treemenu li.tree-opened>.toggler::before {
        content: "\2212";
        /* Minus */
    }

    .mobile-nav-open {
        @apply overflow-y-hidden;
    }
}