@layer components {
    .breadcrumb {
        @apply flex flex-wrap list-none p-0 m-0 mb-4;
    }

    .breadcrumb-item {
        @apply inline-flex items-center;
    }

    .breadcrumb-item:not(:last-child)::after {
        @apply content-['/'] mx-2 text-gray-400;
    }

    .breadcrumb-item a {
        @apply text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-blue-400;
    }

    .breadcrumb-item.active {
        @apply text-gray-400 cursor-default dark:text-gray-500;
    }
}