@layer components {
    .card {
        @apply bg-white border border-gray-200 rounded-md shadow-sm flex flex-col dark:bg-gray-800 dark:border-gray-700;
    }

    .card-header {
        @apply p-4 pb-0;
    }

    .card-title {
        @apply text-lg font-bold mb-1 text-gray-800 dark:text-gray-100;
    }

    .card-subtitle {
        @apply text-sm text-gray-500 dark:text-gray-400;
    }

    .card-body {
        @apply p-4 flex-1;
    }

    .card-footer {
        @apply p-4 pt-0;
    }

    .card-image {
        @apply pt-4 px-4 first:pt-0 first:px-0;
    }

    .card-image img {
        @apply w-full rounded-t-md;
    }
}