@layer components {
    .panel {
        @apply border border-gray-200 rounded flex flex-col bg-white dark:bg-gray-800 dark:border-gray-700;
    }

    .panel-header {
        @apply p-4 border-b border-gray-200 dark:border-gray-700;
    }

    .panel-title {
        @apply text-lg font-bold text-gray-800 dark:text-gray-100;
    }

    .panel-nav {
        @apply flex-none;
    }

    .panel-body {
        @apply flex-1 overflow-y-auto p-4;
    }

    .panel-footer {
        @apply p-4 border-t border-gray-200 dark:border-gray-700;
    }
}