@layer components {
    .step {
        @apply flex flex-wrap list-none m-0 p-0 min-h-[2rem];
    }

    .step-item {
        @apply flex-1 mt-0 text-center relative;
    }

    .step-item:not(:first-child)::before {
        @apply content-[''] absolute top-2 -left-1/2 w-full h-0.5 bg-gray-200 z-[-1] dark:bg-gray-700;
    }

    .step-item a {
        @apply inline-block px-4 py-2 text-gray-400 no-underline hover:text-blue-600 dark:text-gray-500 dark:hover:text-blue-400;
    }

    .step-item.active a {
        @apply text-blue-600 font-bold dark:text-blue-400;
    }

    .step-item.active a::before {
        @apply bg-blue-600 border-white dark:border-gray-800;
    }

    .step-item a::before {
        @apply content-[''] absolute top-1 left-1/2 -translate-x-1/2 w-3 h-3 bg-gray-200 rounded-full border-2 border-white z-10 dark:bg-gray-700 dark:border-gray-800;
    }
}