@layer components {
    .toast {
        @apply block p-4 bg-gray-100 text-gray-800 border-l-4 border-gray-500 rounded mb-4 w-full relative dark:bg-gray-800 dark:text-gray-200 dark:border-gray-400;
    }

    .toast-primary {
        @apply bg-blue-100 text-blue-900 border-blue-500 dark:bg-blue-900 dark:text-blue-100 dark:border-blue-400;
    }

    .toast-success {
        @apply bg-green-100 text-green-900 border-green-500 dark:bg-green-900 dark:text-green-100 dark:border-green-400;
    }

    .toast-warning {
        @apply bg-yellow-100 text-yellow-900 border-yellow-500 dark:bg-yellow-900 dark:text-yellow-100 dark:border-yellow-400;
    }

    .toast-error {
        @apply bg-red-100 text-red-900 border-red-500 dark:bg-red-900 dark:text-red-100 dark:border-red-400;
    }

    .toast .btn-clear {
        @apply absolute top-2 right-2;
    }
}