@layer components {
    .tooltip {
        @apply relative inline-block cursor-pointer;
    }

    .tooltip::after {
        @apply content-[attr(data-tooltip)] absolute bottom-full left-1/2 -translate-x-1/2 bg-black/90 text-white text-xs px-2 py-1 rounded opacity-0 pointer-events-none transition-opacity duration-200 mb-2 whitespace-nowrap z-50;
    }

    .tooltip:hover::after,
    .tooltip:focus::after {
        @apply opacity-100;
    }

    .tooltip-right::after {
        @apply bottom-auto left-full top-1/2 -translate-y-1/2 ml-2 translate-x-0;
    }

    .tooltip-bottom::after {
        @apply top-full bottom-auto mt-2;
    }

    .tooltip-left::after {
        @apply bottom-auto right-full top-1/2 -translate-y-1/2 mr-2 left-auto translate-x-0;
    }
}