<section id="footer" class="py-8 bg-gray-100 text-center">
    <div class="container mx-auto px-4 {{ grid_size }}">
        <p><a href="https://getgrav.org" class="text-blue-600 hover:underline">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o animate-pulse text-red-500"></i> by <a href="https://trilby.media" class="text-blue-600 hover:underline">Trilby Media</a>.</p>
    </div>
</section>
