<section id="footer" class="py-8 bg-gray-100 text-center">
    <div class="container mx-auto px-4 {{ grid_size }}">
            <a href="https://twitter.com/getgrav" class="text-gray-600 hover:text-blue-500 mx-2"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/getgrav" class="text-gray-600 hover:text-blue-700 mx-2"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/getgrav/grav-theme-quark" class="text-gray-600 hover:text-black mx-2"><i class="fa-brands fa-github"></i></a>
            
            <div class="mt-4 flex justify-center">
                {% include 'partials/theme-switcher.html.twig' %}
            </div>
    </div>
</section>
