@layer components {
    .carousel {
        @apply relative block w-full overflow-hidden bg-gray-100 dark:bg-gray-800;
    }

    .carousel .carousel-container {
        @apply h-full w-full relative left-0 transition-transform duration-500 ease-out;
    }

    .carousel .carousel-item {
        @apply block w-full h-full absolute top-0 left-0 opacity-0 transition-opacity duration-500 z-10 animate-none;
    }

    /* Simplified carousel logic - in pure CSS this relies on radio buttons usually */
    /* Tailwind version might need JS or specific structure */
    .carousel .carousel-locator:nth-of-type(1):checked~.carousel-container .carousel-item:nth-of-type(1),
    .carousel .carousel-locator:nth-of-type(2):checked~.carousel-container .carousel-item:nth-of-type(2),
    .carousel .carousel-locator:nth-of-type(3):checked~.carousel-container .carousel-item:nth-of-type(3),
    .carousel .carousel-locator:nth-of-type(4):checked~.carousel-container .carousel-item:nth-of-type(4) {
        @apply opacity-100 z-20;
    }

    .carousel .carousel-nav {
        @apply absolute bottom-2 left-1/2 -translate-x-1/2 flex justify-center w-40 z-20;
    }

    .carousel .nav-item {
        @apply block flex-none w-3 h-3 m-1 text-gray-400 cursor-pointer hover:text-gray-500;
    }
}