@layer components {
    .slider {
        @apply appearance-none w-full h-1 bg-gray-200 rounded outline-none transition-opacity duration-200 hover:opacity-100 dark:bg-gray-700;
    }

    .slider::-webkit-slider-thumb {
        @apply appearance-none w-4 h-4 rounded-full bg-blue-600 cursor-pointer border-none transition-transform duration-200 hover:scale-110;
    }

    .slider::-moz-range-thumb {
        @apply w-4 h-4 rounded-full bg-blue-600 cursor-pointer border-none transition-transform duration-200 hover:scale-110;
    }

    .slider:active::-webkit-slider-thumb {
        @apply scale-125;
    }

    .slider:active::-moz-range-thumb {
        @apply scale-125;
    }
}