/* Tailwind BEM Port (formerly Spectre.css) */

/* Elements */
@import "./elements/typography.css";
@import "./elements/asian.css";
@import "./elements/tables.css";
@import "./elements/buttons.css";
@import "./elements/forms.css";
@import "./elements/labels.css";
@import "./elements/codes.css";
@import "./elements/media.css";

/* Layout */
@import "./layout/layout.css";
@import "./layout/hero.css";
@import "./layout/navbar.css";

/* Components */
@import "./components/accordions.css";
@import "./components/avatars.css";
@import "./components/badges.css";
@import "./components/breadcrumbs.css";
@import "./components/bars.css";
@import "./components/cards.css";
@import "./components/chips.css";
@import "./components/dropdowns.css";
@import "./components/empty.css";
@import "./components/menus.css";
@import "./components/modals.css";
@import "./components/navs.css";
@import "./components/pagination.css";
@import "./components/panels.css";
@import "./components/popovers.css";
@import "./components/steps.css";
@import "./components/tabs.css";
@import "./components/tiles.css";
@import "./components/toasts.css";
@import "./components/tooltips.css";

/* Utilities */
@import "./utilities/animations.css";
@import "./utilities/utilities.css";

/* Experimentals */
@import "./experimentals/autocomplete.css";
@import "./experimentals/calendars.css";
@import "./experimentals/carousels.css";
@import "./experimentals/comparison-sliders.css";
@import "./experimentals/filters.css";
@import "./experimentals/meters.css";
@import "./experimentals/off-canvas.css";
@import "./experimentals/parallax.css";
@import "./experimentals/progress.css";
@import "./experimentals/sliders.css";
@import "./experimentals/timelines.css";
@import "./experimentals/viewer-360.css";

/* Icons */
@import "./icons/icons-core.css";
@import "./icons/icons-navigation.css";
@import "./icons/icons-action.css";
@import "./icons/icons-object.css";