@layer components {
    .container {
        @apply mx-auto px-4;
    }

    .columns {
        @apply flex flex-wrap -mx-2;
    }

    .column {
        @apply px-2 flex-1;
    }

    .col-12 {
        @apply w-full;
    }

    .col-11 {
        @apply w-11/12;
    }

    .col-10 {
        @apply w-10/12;
    }

    .col-9 {
        @apply w-9/12;
    }

    .col-8 {
        @apply w-8/12;
    }

    .col-7 {
        @apply w-7/12;
    }

    .col-6 {
        @apply w-6/12;
    }

    .col-5 {
        @apply w-5/12;
    }

    .col-4 {
        @apply w-4/12;
    }

    .col-3 {
        @apply w-3/12;
    }

    .col-2 {
        @apply w-2/12;
    }

    .col-1 {
        @apply w-1/12;
    }

    .col-auto {
        @apply w-auto;
    }

    /* Gapless */
    .columns.col-gapless {
        @apply mx-0;
    }

    .columns.col-gapless>.column {
        @apply px-0;
    }

    /* Oneline */
    .columns.col-oneline {
        @apply flex-nowrap overflow-x-auto;
    }
}