<span class="blog-date text-gray-500 text-sm">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <i class="fa-solid fa-calendar"></i> {{ page.date|date(system.pages.date_format_short) }}
    </time>
</span>
