@layer utilities {
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-1.5rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .anim-slide-down {
        animation: slide-down 0.2s ease-out;
    }
}