@layer utilities {
    .text-primary {
        @apply text-blue-600 dark:text-blue-400;
    }

    .text-secondary {
        @apply text-blue-400 dark:text-blue-300;
    }

    .text-gray {
        @apply text-gray-500 dark:text-gray-400;
    }

    .text-light {
        @apply text-white;
    }

    .text-dark {
        @apply text-gray-800 dark:text-gray-100;
    }

    .text-success {
        @apply text-green-600 dark:text-green-400;
    }

    .text-warning {
        @apply text-yellow-600 dark:text-yellow-400;
    }

    .text-error {
        @apply text-red-600 dark:text-red-400;
    }

    .bg-primary {
        @apply bg-blue-600 dark:bg-blue-500;
    }

    .bg-secondary {
        @apply bg-blue-100 dark:bg-blue-900;
    }

    .bg-dark {
        @apply bg-gray-800 dark:bg-black;
    }

    .bg-gray {
        @apply bg-gray-100 dark:bg-gray-800;
    }

    .c-hand {
        @apply cursor-pointer;
    }

    .c-move {
        @apply cursor-move;
    }

    .c-zoom-in {
        @apply cursor-zoom-in;
    }

    .c-zoom-out {
        @apply cursor-zoom-out;
    }

    .c-not-allowed {
        @apply cursor-not-allowed;
    }

    .c-auto {
        @apply cursor-auto;
    }

    .d-block {
        @apply block;
    }

    .d-inline {
        @apply inline;
    }

    .d-inline-block {
        @apply inline-block;
    }

    .d-flex {
        @apply flex;
    }

    .d-inline-flex {
        @apply inline-flex;
    }

    .d-none {
        @apply hidden;
    }

    .d-hide {
        @apply hidden;
    }

    .d-visible {
        @apply visible;
    }

    .d-invisible {
        @apply invisible;
    }

    .text-left {
        @apply text-left;
    }

    .text-right {
        @apply text-right;
    }

    .text-center {
        @apply text-center;
    }

    .text-justify {
        @apply text-justify;
    }

    .text-lowercase {
        @apply lowercase;
    }

    .text-uppercase {
        @apply uppercase;
    }

    .text-capitalize {
        @apply capitalize;
    }

    .text-bold {
        @apply font-bold;
    }

    .text-italic {
        @apply italic;
    }

    .text-large {
        @apply text-lg;
    }

    .text-ellipsis {
        @apply truncate;
    }

    .text-clip {
        @apply overflow-hidden text-clip;
    }

    .text-break {
        @apply break-all;
    }
}